# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.melos_tool/
.flutter-*
generated_plugin_registrant.*

# Android
android/.gradle/
android/captures/
android/gradle/
*.jks
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
*.xcuserstate
*.xcworkspace
*.xcodeproj/*
xcuserdata/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/

# Windows
windows/runner/ephemeral/
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
web/manifest.json
web/favicon.png

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json